extends layout

block content
  div.after-reserv-content-wrapper.content-wrapper
    main.after-reserv-content
      img.logo-after-reserv(src='../images/inform-background.png', alt="Логотип завидения с подписью Атракцион вкусов")

      div.information-after-reserv
        div
          h1.header-after-reserv Спасибо что выбрали наш ресторан!
          p.info-after-reserv Скоро вам перезвонят наши сотрудники, для подтверждения заказа.

        div
          p.info-after-reserv А пока, предлагаем вам ознакомится с меню
          a.content__button.button(href="/menu") Меню