extends layout

block content
  div.contacts-content-wrapper.content-wrapper
    div.addition
    div.contacts-card.card
      h.contacts-logo.logo THIRTEEN

      a.contacts-card__phone(href="tel: 89956621302") 8-995-662-13-02

      p.contacts-card__address г.Екатеринбург ул.Тургенева д.4

      ul.contacts-card__items
        li.contacts-card__item
          a.contacts-card__link.contacts-card__link--vk-icon(href="https://vk.com/danilovmaxim13" target="_blank")

        li.contacts-card__item
          a.contacts-card__link.contacts-card__link--telegram-icon(href="https://t.me/danilovmaxim13" target="_blank")

        li.contacts-card__item
          a.contacts-card__link.contacts-card__link--instagram-icon(href="https://www.instagram.com/danilovmaxim13" target="_blank")
    div.addition