header.header
  a.header__link(href="/")
    h1.header__logo.logo THIRTEEN

  nav.header__nav.nav
    ul.nav__items
      li.nav__item(class=(name==="menu"))
        a.nav__link(href="/menu") menu

      li.nav__item(class=(name==="contacts"))
        a.nav__link(href="/contacts") contacts

      li.nav__item(class=(name==="reservation"))
        a.nav__link(href="/reservation") reservation 