extends layout

block content
  div.main-content-wrapper.content-wrapper
    section.main-content
      h1.content__title THIRTEEN <br> глоток свежего воздуха в большом городе!
      
      a.content__button.button(href="/information") О нас