extends layout

block content
  div.information-content-wrapper
    main.information-content
      img.logo-information(src='../images/inform-background.png', alt="Логотип завидения с подписью Атракцион вкусов")

      p.info-restaraunt Уютный интерьер и изысканная кухня сделают ваш обед или ужин незабываемым. Мы рады  нашим гостям и всегда стремимся их приятно удивить.
      p.info-restaraunt Меню ресторана и карта вин продуманы до мелочей, а наши официанты помогут при заказе подобрать блюдо на любой вкус и посоветуют подходящие напитки. Мы используем только свежие продукты и работаем с проверенными партнерами - ведь именно качественные и свежие ингредиенты позволяют создавать настоящие кулинарные шедевры.

      p.info-restaraunt Для посетителей, которые предпочитают современную европейскую кухню мы предлагаем салаты, горячее и закуски. Для гурманов у нас есть необычные блюда, процесс подготовки которых требует большого количества времени высочайшего мастерства. Ну а любителей десертов мы всегда готовы побаловать свежими чизкейками, мад-кейками, тирамису, панакотой и конфетами собственного приготовления. Для желающих вспомнить о самых счастливых и солнечных днях отпуска мы добавили в меню страничку греческой кухни, а также блюда из морепродуктов.

      p.info-restaraunt Вам обязательно нужно посетить наш ресторан и все попробовать. 