extends layout

block content
  div.menu-content-wrapper
    main.menu-content
      h1.menu-heading menu

      section.menu-card.left-card
        div.infotmation
          h2.menu-card-name Фланк-стейк

          p.info-dich Стейк из пашины <br> с овощами гриль и соусом <br> из черного перца.

          p.info-calories 160/50/180/2
        
        img.photo-menu-card(src='../images/dish/flank-stejk.jpg', alt="Фланк-стейк с овощами гриль")

      section.menu-card.right-card
        div.infotmation
          h2.menu-card-name Вырезка говядины на гриле

          p.info-dich Вырезка говядины <br> с соусом порто на блинчике <br> с булгуром и грибами.

          p.info-calories 120/150/30/40/20/2
        
        img.photo-menu-card(src='../images/dish/vyrezka-gov.jpg', alt="Фланк-стейк с овощами гриль")

      section.menu-card.left-card
        div.infotmation
          h2.menu-card-name Филе-миньон

          p.info-dich Филе-миньон с кукурузой <br> гриль c жареными грибами <br> и перечным соусом.

          p.info-calories 140/50/40/40/20/2
        
        img.photo-menu-card(src='../images/dish/file-minon.jpg', alt="Фланк-стейк с овощами гриль")

      section.menu-card.right-card
        div.infotmation
          h2.menu-card-name Утиное филе

          p.info-dich Филе утки <br> с овощным гарниром <br>и соусом из черной смородины/

          p.info-calories 80/120/30/2
        
        img.photo-menu-card(src='../images/dish/utin-file.jpg', alt="Фланк-стейк с овощами гриль")

      section.menu-card.left-card
        div.infotmation
          h2.menu-card-name Цыпленок с картофелем фри

          p.info-dich Цыпленок <br> в луково-чесночном маринаде <br> и соусом барбекю.

          p.info-calories 450/150/30/20/2
        
        img.photo-menu-card(src='../images/dish/tsypl.jpg', alt="Фланк-стейк с овощами гриль")

      section.menu-card.right-card
        div.infotmation
          h2.menu-card-name Жареные мясные шарики

          p.info-dich С чесночным картофелем,<br> кукурузой и соусом барбекю

          p.info-calories 120/150/30/40/20/2
        
        img.photo-menu-card(src='../images/dish/zhar-myasn-shariki.jpg', alt="Фланк-стейк с овощами гриль")