*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: HipstelveticaBold;
  src: url(fonts/HipstelveticaBold.ttf);
}
@font-face {
  font-family: MAXWELL;
  src: url(fonts/MAXWELL.ttf);
}
@font-face {
  font-family: CaslonBecker;
  src: url(fonts/CaslonBecker.ttf);
}

/* common */
.content-wrapper {
  margin: 0 3%;
  display: flex;
}

.button {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #fff;
  background-color: #d49c6b;
  text-align: center;
  border-radius: 8px;
  transition: opacity 0.2s;
  cursor: pointer;
}

.button:hover {
  opacity: 0.6;
}

/* header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__link {
  text-decoration: none;
}

.header__logo {
  font-size: 50px;
  font-weight: 400;
  font-family: "HipstelveticaBold";
  color: #d49c6b;
}

.header__logo:hover {
  opacity: 0.8;
}

.nav__items {
  font-family: "MAXWELL";
  font-size: 20px;
  list-style: none;
  display: flex;
}

.nav__item {
  padding: 10px;
  color: #252b31;
}

.nav__item:hover {
  color: #d49c6b;
}

.nav__link {
  text-decoration: none;
  color: inherit;
}

/* main page */
.main-content-wrapper {
  height: 90vh;
  background-image: url(../images/index-background.jpg);
  background-size: cover;
}

.main-content {
  width: 80%;
  margin: auto;
}

.content__title {
  text-align: center;
  background-color:rgba(193, 200, 199, 0.6);
  border: 8px double #d49c6b;
  margin-bottom: 3vh;
}

.content__button {
  width: 80%;
  margin: auto;
  font-size: 20px;
}

.content__title {
  font-size: 20px;
  font-weight: 700;
  color: #252b31;
}

/* contacts */
.contacts-content-wrapper{
  height: 90vh;
  background-image: url(../images/contacts-background.jpeg);
  background-size: cover;

  flex-direction: column;
}

.contacts-card {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: auto;

  height: 40vh;
  width: 70vw;
}

.addition {
  display: none;
  width: 30vw;
  height: 20%;
  margin: 0 auto;

  background-color: #fff;
}

.contacts-card__link {
  display: block;
  width: 10vw;
  height: 10vw;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 10vw;

  font-size: 0;
}

.contacts-card__link:hover {
  opacity: 0.7;
}

.contacts-card__link--vk-icon {
  background-image: url("/images/vk.svg");
}

.contacts-card__link--telegram-icon {
  background-image: url("/images/telegram.svg");
}

.contacts-card__link--instagram-icon {
  background-image: url("/images/instagram.svg");
}

.contacts-card__items {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.contacts-card__phone {
  text-decoration: none;
  color: #252b31;
  font-size: 3vh;
  font-weight: 900;
  text-shadow: #d49c6b 1px 1px 0, #d49c6b 2px 2px 0, 
              #d49c6b 3px 3px 0, #d49c6b 4px 4px 0, 
              #d49c6b 5px 5px 0;
}

.contacts-card__address {
  font-size: 20px;
  font-weight: 600;
  color: #252b31;
  text-shadow: #d49c6b 1px 1px 0, #d49c6b 2px 2px 0, 
              #d49c6b 3px 3px 0, #d49c6b 4px 4px 0, 
              #d49c6b 5px 5px 0;
}

.contacts-logo {
  color: #d49c6b;
  font-size: 5vh;
  font-weight: 900;
  text-shadow: #252b31 1px 1px 0, #252b31 2px 2px 0, 
                #252b31 3px 3px 0, #252b31 4px 4px 0, 
                #252b31 5px 5px 0;
}

/* form */
.reservation-content-wrapper{
  height: 90vh;
  background-image: url(../images/form-background.jpg);
  background-size: cover;
}

.reservation-form {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.reservation-form__info {
  font-size: 15vw;
  margin: 5vh 0 0;
  font-family: "MAXWELL";
}

.form__group {
  height: 13vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form__input {
  width: 70%;
  background-color: #fff;
  display: block;
  padding: 10px;
  border: none;
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  margin: auto;
}

.form__input:focus {
  outline: none;
  border-bottom: 3px solid #d49c6b;
}

.form__label{
  color: #252b31;
  font-weight: 600;
  font-size: 20px;
}

.reservation__button {
  margin: 2vh auto;
  font-weight: 600;
  font-size: 15px;
  border: none;
}

/* error */
.error {
  height: 83vh;
  margin: auto;
  font-size: 3vw;
  padding: 10px;
  border: 20px double #d49c6b;
}

/* menu */
.menu-content-wrapper {
  background-image: url(../images/form-background.jpg);
  background-attachment: fixed;
  padding: 5vh 0 3vh;
}

.menu-content {
  background-color: #fff;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 4vh;
}

.menu-heading {
  text-align: center;
  font-size: 10vw;
  font-family: 'MAXWELL';
  color: #d49c6b;
}

.menu-card {
  display: flex;
  justify-content: space-between;

  width: 90%;
  margin: 5vh auto 0;
}

.right-card {
  flex-direction: row-reverse;
}

.infotmation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  text-align: center;
}

.photo-menu-card {
  width: 60%;
  border: 10px double #d49c6b; 
}

.menu-card-name {
  font-size: 3vw;
  color: #252b31;
}

.info-dich {
  font-size: 1.5vw;
  color: #5e6668;
}

.info-calories {
  font-size: 1.5vw;
  color: #c1c8c7;
}

/* information */
.information-content{
  width: 60vw;
  margin: auto;
  display: flex;
  flex-direction: column;

}

.logo-information {
  width: 80%;
  margin: auto;
}

.info-restaraunt {
  font-family: CaslonBecker;
  font-size: 5vw;
  margin-top: 10px;
  text-indent: 3vw;
}

@media (min-width: 450px) {
  /* contacts */
  .contacts-card__phone {
    font-size: 4vh;
  }

    /* contacts */
  .contacts-card__link {
    width: 7vw;
    height: 7vw;

    background-size: 7vw;
  }

  /* form */
  .reservation-form {
    width: 70vw;
  }

  .reservation-form__info {
    font-size: 10vw;
  }

  .reservation__button {
    margin: 2vh auto;
    font-weight: 600;
    font-size: 20px;
    border: none;
  }
}


@media (min-width: 650px) {
  /* header */
  .header {
    flex-direction: row;
    margin: 0 50px;
  }

  /* main-page */
  .content__title {
    font-size: 40px;
  }

  .content__button {
    width: 40%;
  }

  /* contacts */
  .addition {
    display: block;
  }

  .contacts-card {
    width: 40vw;
  }

  .contacts-card__link {
    width: 5vw;
    height: 5vw;

    background-size: 5vw;
  }

  /* form */
  .reservation-form__info {
    font-size: 10vw;
  }

  /* information */
  .info-restaraunt {
    font-size: 3vw;
  }

}

@media (min-width: 900px) {
  /* contacts */
  .contacts-card__phone {
    font-size: 6vh;
  }

  .contacts-card__link {
    width: 4.2vw;
    height: 4.2vw;

    background-size: 4.2vw;
  }

  /* form */
  .reservation-form {
    margin-left: 15vw;
    width: 40vw;
  }

  .reservation-form__info {
    font-size: 6vw;
  }
}